{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: conductor-ingress
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls.enabled }}
  tls:
    - secretName: {{ required "ingress.tls.secretName is required when ingress.tls.enabled is true" .Values.ingress.tls.secretName }}
      hosts:
        - {{ include "debezium-platform.domainHostname" . }}
  {{- end }}
  rules:
    - host: {{ required "A valid domain hostname required!" (include "debezium-platform.domainHostname" .) }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: stage
                port:
                  number: 3000
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: conductor
                port:
                  number: 8080
{{- end }}
