.doc-drawer-panel {
  border-left: 1px solid var(--pf-t--global--border--color--default);
}

.doc-drawer-header {
  width: 100%;
  padding-right: var(--pf-t--global--spacer--xl);
}

.doc-drawer-body {
  height: 100%;
}

.doc-drawer-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
